body{
    margin: 0px;
    padding: 0px;
}

#listaTareas{
    background-color: rgb(41, 69, 111);
}

.body{
    background-color: #cCc;
}

#tareaForm{
    width: 50%;
}

#listaTareas{
    width: 60%;
    border-radius: 100px;
    height: 510px;
    overflow-y: scroll;
}